body {
    background-color: #B2CCD7;
    padding : 40px;
}

.table {    
    height: 260px;
    width: 600px;
    background-color: white;      
    border-radius: 20px;
}

h2,a,.cart-button {
    color: #6894B0;
    font-weight: 600;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;  
}

td {
    padding: 10px;
}

.title {
    vertical-align: middle;
    color:#B2CCD7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.main {
    border-top: 1px solid #B2CCD7;
    border-bottom: 1px solid #B2CCD7;
}

.main td {
    text-align: center;
}

.font {
    color: #B2CCD7;
    font-weight: 500;
}

.light {
    opacity: 0.5;
}

.bold {
    font-weight: 900;
}

.sum td {
    text-align: right;    
    padding-right: 30px;
}

.cart {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.cart-button {
    height: 60px;
    width: 250px;
    border-radius: 5px;
    background-color: #133761;
}

.input-test {
    font-size: 20px;
}

.input-test:focus {
    border: 5px solid tomato;
}

.link {
    text-decoration: none;
}

.link:link {
    color:aqua;
}

.link:visited {
    color:red;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;  
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}