body {
    padding: 20px;
    width:50vh;
    height:100vh;
    margin: auto;
    box-sizing: border-box;
}

span {
    font-size: 20px;   
    margin: 20px 0 10px 0;    
}

.main-email,
.main-message {
    display: flex;
    flex-direction: column;
}

.small {
    height: 40px;
}

.input {
    padding-left: 20px;
    font-size: 20px;
    border: 2px solid gainsboro;
    border-radius: 10px;
}

input::placeholder {
    opacity: 0.5;
}

.main-name {
    display: flex;
    justify-content: space-between;
}

.first,
.last {
    flex-direction: column;
}

.big {
    height: 200px;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-cbox {
    background-color:grey;
}

.footer-btn {
    width: 200px;
    height: 50px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    font-size: 25px;
    margin: 0px;
    font-weight: 600;
}